{% extends '::base.html.twig' %}

{% block body %}
{{ form_start(form, {'action': path('changepassword'), 'method': 'POST'}) }}
<div>
    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password) }}
</div>
<div>
    {{ form_label(form.new_password) }}
    {{ form_errors(form.new_password) }}
    {{ form_widget(form.new_password) }}
</div>
<div>
    {{ form_label(form.confirm_password) }}
    {{ form_errors(form.confirm_password) }}
    {{ form_widget(form.confirm_password) }}
</div>
{{ form_row(form.Login, { 'label': 'Submit' }) }}
{{ form_end(form, {'render_rest': false}) }}

{% endblock %}